<header id="fh5co-header" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="display-t">
                    <div style="text-align: center;" class="display-tc animate-box" data-animate-effect="fadeIn">
                        <!-- Perguntas -->
                        <h1>{{pergunta.texto}}</h1>
                        <div class="col-md-12">
                            <p ng-if="!pergunta.opcoes">
                                <a ng-click="responde('Sim', pergunta.texto)" class="btn btn-primary btn-lg with-arrow">Sim</a>
                                <a ng-click="responde('Não', pergunta.texto)" class="btn btn-primary btn-lg with-arrow">Não</a>
                            </p>
                            <span ng-if="pergunta.opcoes" ng-repeat="item in pergunta.opcoes">
					        <a ng-click="responde(item, pergunta.texto)" class="btn btn-primary btn-block btn-lg with-arrow">{{item}}</a>
				        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
