<div id="fh5co-header" class="fh5co-container fh5co-cover" style="padding-top: 15px" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container" style="padding-top: 60px">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="images/acip.png" class="img-responsive" alt="">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            Associação Empresarial de Palhoça
                        </div>
                        <div class="profile-usertitle-job">
                            <a href="http://www.acipsc.com.br/" target="_blank" >ACIP</a>
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li ng-repeat='item in menuItems' ng-class="{active : activeMenu === item}">
                                <a ng-click="setActive(item)" href="">{{ item }}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="report-content" ng-hide="isChart">
                    <table class="table table-hover table-responsive">
                        <thead style="background-color: #FC5185; color: white">
                        <tr>
                            <td>
                                Pergunta
                            </td>
                            <td>
                                Resposta
                            </td>
                        </tr>
                        </thead>
                        <tbody style="background-color: white; color: black">
                        <tr ng-repeat="res in respostas">
                            <td>
                                {{res.pergunta}}
                            </td>
                            <td>
                                {{res.resposta}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-9">
                <div class="report-content chart-content" ng-show="isChart">
                    <a ng-click="updateChart()" class="btn btn-primary btn-lg pull-right">Atualizar</a>
                    <div id="rel"></div>
                </div>
            </div>
        </div>
    </div>
</div>